#enter {
	width: 300px;
	height: 40px;
	border-radius: 5px;
	margin-left: 5px;
}

p {
	height: 20px;
	font-size: 40px;
  color: gray;
	margin-top: 10px;
	font-family: "Arial";
}


.operation {
  width: 30px;
	height: 30px;
	font-size: 20px;
  background: black;
  text-align:center;
  transition-duration: 0.4s;
	border-radius: 10px;
  cursor: pointer;
  border: none;
  margin:15px;
	outline: none
}

.operation:hover {background-color: darkgray;}

.clear {
  width: 30px;
	height: 30px;
	font-size: 20px;
  background: black;
  text-align:center;
  transition-duration: 0.4s;
	border-radius: 10px;
  cursor: pointer;
  border: none;
  margin:15px;
	outline: none
}

.clear:hover {background-color: darkgray;}


body {
	margin: 1px;
	padding: 0px;
}

#main {
	padding-left: 60px;
}

.info {
	display: flex;
	flex-direction: column;
}

#name, #number, #email {
	width: 400px;
	height: 50px;
	border-radius: 10px;
	font-size: 20px;
}

label {
	font-size: 25px;
	font-family: "Arial";
}


table{
	border: 1px solid #ddd;
	width: 50%;
	border-collapse: collapse

}
.title{
background-color: black;
	margin-bottom: 10px;
  text-align:center;
	font-size: 25px;
  width: 50%;
  color:white;
  border: solid darkgray 1px;
	border-radius: 5px;
}
input[type="button"] {
	background-color:black;
	font-size: 20px;
  color: white;
  border: grey 1px;
	border-radius: 5px;
	outline: none;
  width:100%
}

input:hover[type="button"] {
			background: gray;
}
input:active[type="button"]
		{
			background: darkgray;
		}
input[type="text"] {
  background-color:white;
  border: grey 1px;
	border-radius: 5px;
  width:100%
}
